
  <div class='signup'>
    <form action='/' method='post'>
      <input type="text"  name='name' placeholder='name first player'>
      <input type="text" name='email' placeholder='email first player'>
      <input type="text"  name='name2' placeholder='name second player'>
      <input type="text" name='email2' placeholder='email second player'>
      <input type="number" name='length' placeholder='Track length'>
      <input type="submit" value="Let's start!">
    </form>
  </div>